@use "reset";
@use "src/components/Navigation/Navbar";

@import "colors";

#root{
  font-family: 'Lato', sans-serif;
  background: $background-color;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

